/* PHASE 2: Navigation */

.header-logo {
  float: left;
  border-right: 1px solid #ccc;
  font-weight: 700;
}

.header-logo:hover {
  background: #000;
}

.header-list {
  float: right;
}

.header-list > li {
  float: left;
  border-left: 1px solid #ccc;
}

.header-list > li:hover {
  background: #000;
}