/* PHASE 3: Content */

.content {
  margin: 0 auto;
  background: #fff;
  width: 900px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.content-sidebar {
  float: left;
  width: 200px;
  padding: 20px;
}

.content-main {
  float: left;
  width: 620px;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.content p {

}