/* PHASE 4: Footer */

.footer {
  width: 900px;
  margin: 0 auto 50px auto;
  background: #fff;
  color: #aaa;
  font-size: 14px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer-copy {
  padding: 20px;
  float: left;
}

.footer-links {
  padding: 20px;
  float: right;
}

.footer-links > li {
  float: left;
  padding: 0 0 0 20px;
}

.footer a {
  display: block;
}

.footer a:hover {
  color: #000;
}
