<h1 class='page-header'>Bands</h1>

<ul class='main-list'>
  <% @bands.each do |band| %>
    <li><a href="<%= band_url(band) %>"><p><%= band.name %></p></a></li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <h4 class='sub-header'>Links</h4>
  <ul class='page-links'>
    <li><a class='button' href="<%= new_band_url %>" >New band</a></li>
    <li><a class='button' href="<%= users_url %>">Users</a></li>  
  </ul>
<% end %>
