<h2 class='page-header'>Search!</h2>

<div class='users-search'>
<form class="simple-form">
  <div>
    <label for='user-search-input'>Username</label>
    <input class='user-search-input' 
      type="text" 
      name="username"
      placeholder='Enter a username'>
  </div>
</form>

<h4>Results</h4>
<ul class="users"></ul>
</div>
