// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.note-item {

  width: 400px;

  p {
    display: block;
    margin-bottom: 20px;
  }

  .note-item-info {
    display: flex;
    justify-content: space-between;
  }
}