<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.email %>, </h1>
    <p>
      You have successfully signed up to my app!
      Please activate your account by visiting this link:
      <a href="<%= activate_users_url(activation_token: @user.activation_token) %>">Activate</a>
    </p>

    <p>
      If you can't click the link, copy and paste this URL into your browser:
      <%= activate_users_url(activation_token: @user.activation_token) %>
    </p>

    <p>
      Thanks for joining and have a great day!
    </p>
  </body>
</html>
